<h1>Listing journal_entries</h1>

<table>
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @journal_entries.each do |journal_entry| %>
  <tr>
    <td><%= journal_entry.text %></td>
    <td><%= link_to 'Show', journal_entry %></td>
    <td><%= link_to 'Edit', edit_journal_entry_path(journal_entry) %></td>
    <td><%= link_to 'Destroy', journal_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Journal entry', new_journal_entry_path %>
