<p id="notice"><%= notice %></p>

<p>
  <b>Diagnosis:</b>
  <%= @patient_profile.diagnosis %>
</p>

<p>
  <b>Modalities:</b>
  <%= @patient_profile.modalities %>
</p>

<p>
  <b>Exercises:</b>
  <%= @patient_profile.exercises %>
</p>

<p>
  <b>Tests:</b>
  <%= @patient_profile.tests %>
</p>

<p>
  <b>Other:</b>
  <%= @patient_profile.other %>
</p>


<%= link_to 'Edit', edit_patient_profile_path(@patient_profile) %> |
<%= link_to 'Back', patient_profiles_path %>
