<div id='profiles-page'>

  <div class='column-33-percent'>
    <%= render :partial => 'layouts/navigation_list' %>
    <%= render :partial => 'layouts/search_panel' %>
  </div>

  <div class='column-66-percent'>
    <div class='tabs-panel margin-panel'>
      <ul>
        <li><a href='#diagnosis'>Diagnosis</a></li>
        <li><a href='#modalities'>Modalities</a></li>
        <li><a href='#exercises'>Ther/Ex</a></li>
        <li><a href='#tests'>Tests/Manip</a></li>
        <li><a href='#other'>Other</a></li>
      </ul>

      <div id='diagnosis'>
        <%= render :partial => 'layouts/editor_panel' %>
      </div>
    
      <div id='modalities'>
        <%= render :partial => 'layouts/editor_panel' %>
      </div>

      <div id='exercises'>
        <%= render :partial => 'layouts/editor_panel' %>
      </div>

      <div id='tests'>
        <%= render :partial => 'layouts/editor_panel' %>
      </div>

      <div id='other'>
        <%= render :partial => 'layouts/editor_panel' %>
      </div>
    </div>
  </div>
</div>
